<div *ngIf="product.title" class="card h-100">
    <div class="img-hover-zoom" (click)="openImgModal()" data-toggle="modal" data-target="#productImgModal" style="cursor: pointer">
        <img [src]="product.imageUrl" class="card-img-top" alt="{{product.title}}" *ngIf="product.imageUrl">
    </div>

    <div class="card-body">
        <h5 class="card-title lead">{{ product.title }}</h5>
        <p class="card-text">
            <span class="badge badge-secondary badge-pill">
                {{ product.price | currency:'INR':'symbol' }}
            </span>
        </p>
    </div>
    <div *ngIf="showActions && shoppingCart" class="card-footer">
        <button *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity" (click)="addToCart()"
            class="btn btn-sm btn-light btn-block">Add to Cart</button>
        <ng-template #updateQuantity>
            <product-quantity [product]="product" [shopping-cart]="shoppingCart"></product-quantity>
        </ng-template>
    </div>
</div>

