<div *ngIf="product.title" class="card h-100">

    <img [src]="product.imageUrl" class="card-img-top" alt="{{product.title}}" *ngIf="product.imageUrl">

    <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text"> {{ product.price | currency:'INR':'symbol' }} </p>
    </div>
    <div *ngIf="showActions && shoppingCart" class="card-footer">
        <button *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity" (click)="addToCart()"
            class="btn btn-sm btn-light btn-block">Add to Cart</button>
        <ng-template #updateQuantity>
            <product-quantity [product]="product" [shopping-cart]="shoppingCart"></product-quantity>
        </ng-template>
    </div>
</div>