<div class="text-center">
        <button (click)="login()" class="btn btn-primary btn-lg text-center w-75"><i class="fab fa-google"></i> Login with Google</button> <br><br>
        <button disabled class="btn btn-primary btn-lg text-center w-75" style="cursor: not-allowed"><i class="fab fa-facebook-f"></i> Login with Facebook</button> <br><br>
        <button disabled class="btn btn-primary btn-lg text-center w-75" style="cursor: not-allowed"><i class="fab fa-twitter"></i> Login with Twitter</button> <br><br>
        <button disabled class="btn btn-primary btn-lg text-center w-75" style="cursor: not-allowed"><i class="fa fa-envelope"></i> Login with Email</button> <br><br>
</div>