<h1 class="display-4">Shopping Cart</h1>

<div class="card" *ngIf="cart$ | async as cart">
    <!-- style="width: 80%;" -->
    <div class="card-body">
        <p>
            You have {{ cart.totalItemsCount }} items in your shopping cart.
            <button *ngIf="cart.items.length" (click)="clearCart()" class="float-right btn btn-danger btn-sm">
              <span class=" d-none d-sm-inline">Clear Shopping Cart &nbsp; </span> <i class="fas fa-trash"></i>
            </button>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Product</th>
                    <th class="text-center" >Quantity</th>
                    <th class="text-right" >Price</th>
                </tr>
            </thead>
            <ng-container *ngIf="cart.items.length">
                <tbody @slideCart>
                    <tr @slideCartItems *ngFor="let item of cart.items">
                        <td>
                            <div [style.backgroundImage]="'url(' + item.imageUrl + ')'" class="thumbnail d-none d-sm-block" alt=""></div>
                        </td>
                        <td>
                            {{ item.title }}
                        </td>
                        <td>
                            <product-quantity [product]="item" [shopping-cart]="cart"></product-quantity>
                        </td>
                        <td class="text-right">
                            {{ item.totalPrice | currency:'INR':'symbol' }}
                        </td>
                    </tr>
                </tbody>
            </ng-container>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="text-right">{{ cart.totalPrice | currency:'INR':'symbol' }} </th>
                </tr>
            </tfoot>
        </table>
        <a *ngIf="cart.items.length" routerLink="/check-out" class="btn btn-primary btn-block">Check Out <i
                class="fas fa-arrow-right"></i></a>
    </div>
</div>