<div class="bd-example" @slideUpAnimation>
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" *ngFor="let img of images; index as i" [class.active]="i==0"
                data-slide-to="i"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let img of images; index as i" [class.active]="i==0">
                <a routerLink="/products" [queryParams]="{ category: img.category }" rel="nofollow noopener noreferrer">
                    <div [style.backgroundImage]="'url(' + img.imgUrl + ')'" class="thumbnail d-block w-100" alt="">
                    </div>
                    <!-- <img [src]="img.imgUrl" class="d-block w-100" alt="..."> -->
                    <div class="carousel-caption"> <!-- d-none d-md-block -->
                        <h5 class="display-4" style="font-size: 3.5vw;">{{ img.title }}</h5>
                        <p>Click to explore...</p>
                    </div>
                </a>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<!-- <ngb-carousel #carousel interval="2500" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
    <ng-template ngbSlide *ngFor="let img of images; index as i">
        <div @slideUpAnimation>
            <a routerLink="/products" [queryParams]="{ category: img.category }" rel="nofollow noopener noreferrer">
                <div class="carousel-caption">
                    <h3 class="" [class.display-4]="i==2" style="font-size: 3.5vw;"> {{ img.title }} </h3>
                </div>
                <div class="picsum-img-wrapper">
                    <div [style.backgroundImage]="'url(' + img.imgUrl + ')'" class="thumbnail" alt=""></div>
                </div>
            </a>
        </div>
    </ng-template>
</ngb-carousel> -->

<h1 @slideDown_HomeTitle_Animation class="display-1 text-center" style="color: #05be68; font-size: 5vw;">Welcome to The
    Organic Shop</h1>


<div class="row" @fade>
    <div @fadeStagger *ngFor="let img of images; index as i" class="col-6 col-md-4 mb-4">
        <a routerLink="/products" [queryParams]="{ category: img.category }" rel="nofollow noopener noreferrer">
            <div class="card img-hover-zoom">
                <img class="card-img" [src]="img.imgUrl" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">{{ img.category | uppercase }}</h5>
                    <p class="card-text"> <code> {{ img.title }} </code></p>
                </div>
            </div>
        </a>
    </div>
    <div @fadeStagger class="col-6 col-md-4 mb-4">
        <a routerLink="/products" rel="nofollow noopener noreferrer">
            <div class="card img-hover-zoom">
                <img class="card-img" src="https://cdn.pixabay.com/photo/2017/10/22/20/38/table-2879201_1280.jpg"
                    alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title"> EXPLORE ALL PRODUCTS</h5>
                </div>
            </div>
        </a>
    </div>
</div>