<bs-navbar></bs-navbar>

<main role="main" class="container">
  <router-outlet></router-outlet>
</main>


<footer>
  <div class="mb-2 mx-4" @slideUpAnimation>
    <hr>
    <a class="btn btn-outline-dark btn-sm" href="https://github.com/JagdishChopde20/FirestoreCURD" target="_blank"
      role="button">
      <i class="fab fa-github"></i> Download code from GitHub
    </a>
    &nbsp;
    <small>Angular 7, Google Firebase, Bootstrap, Material animations, etc.</small>
    <code class="float-right">&copy; JAGDISH CHOPDE -
      <a class="btn btn-sm btn-link" href="http://jagdishchopde.weebly.com">jagdishchopde.weebly.com</a>
    </code>
  </div>
</footer>