/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
/* @import "~@fortawesome/fontawesome-free/css/fontawesome.min.css"; */


$primary-color: #05be68;
$primary-color-hover: #008044;

body { padding-top: 80px; }

.btn.btn-default  {
    background-color: #e9ecef;
}

h1, h2, h3 { 
  margin-bottom: 1.5rem;
}

.navbar { 
  border-bottom: 3px solid #e7e7e7;
}

.navbar-light .navbar-brand {
  color: $primary-color;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: $primary-color-hover;
}

.list-group-item.active {
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-primary:hover {
  background-color: $primary-color-hover;
  border-color: $primary-color-hover;
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: $primary-color;
  border-color: $primary-color;
}

.form-control:focus {
  border-color: $primary-color;
}



/* Smooth Img Zoom in effect
[1] The container */
.img-hover-zoom {
  /*height: 300px;  [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
  transform: scale(1);
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.2);
}